@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@theme {
  --color-primary: #f97316;
  --color-background-light: #fff7ed;
  --color-background-dark: #1c1917;
  --font-display: Poppins, sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark text-stone-900 dark:text-stone-100 font-display;
}

/* Check */
.check {
  @apply border border-red-500;
}
